html,
body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1200px;
  width: 100%;
  color: #0d2e32;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 20px;
  margin: 1em auto;
  padding: 0 0.55em;
  background: #e2ebee;
}

header {
  display: flex;
}

header ul {
  float: right;
}

header span {
  list-style-type: none;
  display: inline;
  padding: 0 0.2rem 0 0.2rem;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #1B262C;
  font-weight: bold;
}

.post time {
  width: 110px;
  white-space: nowrap;
}

time.post,
.tag {
  background-color: #C5EAF0;
  color: #0D2E32;
  border: none;
  padding: 8px;
  white-space: nowrap;
}

ul.nav {
  list-style: none;
  padding-left: 0;
}

ul.nav li {
  margin-bottom: 10px;
}

h1.title {
  margin-bottom: 20px;
  line-height: 1;
  width: 100%;
}

pre,
code {
  background-color: #44475a;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  overflow-x: auto;
  width: 90%;
  margin: auto;
}

.inserted-sign {
  background-color: hsl(126, 31%, 39%);
}

.token.prefix.inserted,
.token.prefix.deleted {
  background-color: #15202b;
}

.deleted-sign {
  background-color: hsl(0, 51%, 37%);
}

mark {
  background-color: #f1fa8c;
}

.post-nav-next {
  float: right;
}

blockquote {
  background-color: #44475a;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}

p:has(img) {
  position: relative;
}

img {
  width: 100%;
}

li.post {
  display: flex;
  align-items: center;
  gap: 10px;
}
