---
layout: layouts/home.njk
---

<div>
  <section class="tag-search">
    <ul class="tag-list">
      <li class="tag is-active">
        <a class="paragraph-sm-bold" href="/">Todos</a>
      </li>
      {% for tag in collections.tagList %}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <li class="tag">
          <a class="paragraph-sm-bold" href="{{ tagUrl | url }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
    <input type="text" class="search-input" placeholder="Buscar"></section>
    {% set maxPosts = collections.posts.length | min(5) %}
    {% set postslist = collections.posts | head(-5) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
  </div>
