:root {
  --color-black-pearl-900: #1B262C;
  --color-black-pearl-50: #E4EBEE;

  --color-aquarius-800: #0D2E32;
  --color-aquarius-600: #35B6C8;
  --color-aquarius-50: #E2F5F7;

  --container-max-width: 1080px;
}
