---
import Layout from "../layouts/BlogPost.astro";
import { getMessages } from "../i18n";
import { DEFAULT_LOCALE } from "../i18n/config";

const messages = getMessages(DEFAULT_LOCALE);
---

<Layout
  title="About the blog"
  description={messages.site.description}
  pubDate={new Date("April 01 2024")}
  locale={DEFAULT_LOCALE}
>
  <p>
    At <strong>Undefined Shell</strong>, we are much more than just a simple
    programming and web development blog. We are passionate about exploring and
    learning about innovative digital product development, with a special focus
    on Full-stack technologies and JavaScript.
  </p>

  <p>
    In addition to providing a space to delve deeper into this fascinating
    field, we have organized initiatives such as the <a
      href="https://undf.sh/academy"
      target="_blank">16-week Full-stack Bootcamp</a
    >, led by <a href="https://glrz.me/web" target="_blank">Guillermo Rodas</a>.
    This intensive experience will not only equip you with the necessary skills,
    but will also connect you with a passionate community of professionals and
    enthusiasts.
  </p>

  <p>
    Would you like to join this exciting journey? Join our <a
      href="https://undf.sh/discord"
      target="_blank">Discord</a
    > and start exploring the world of software development in community!
  </p>

  <h2>About the organizer</h2>
  <p>
    <a href="https://glrz.me/web" target="_blank">Guillermo Rodas</a> is a Full-stack
    developer specialized in JavaScript, with over a decade of experience. Originally
    from Colombia and residing in Sweden since 2019, <a
      href="https://glrz.me/web"
      target="_blank">Guillermo</a
    > has been a prominent organizer of <a href="https://csscommunity.dev/"
      >CSS Community Dev</a
    >, an organization that brings together different CSS communities around the
    world (Medellín, Bogotá and Stockholm), and of <a href="https://cssconf.co/"
      >CSS Conf Colombia</a
    >, an international CSS conference.
    <p>
      <a href="https://glrz.me/web" target="_blank">Guillermo</a> is a <a
        href="https://glrz.me/gde"
        >Google Developer Expert in Web Technologies</a
      >, <a href="https://glrz.me/auth0">Auth0 Ambassador</a>,
      <a href="https://glrz.me/stream"> Twitch Partner</a> in the Software and Game
      Development category, professor at Platzi and Código Facilito, the largest
      online education platforms in Latin America.
    </p>

    <p>
      Learn more about Guillermo Rodas by visiting his <a
        href="https://glrz.me/vitae"
        target="_blank">Curriculum vitae</a
      > or his <a href="https://glrz.me/links" target="_blank"
        >social networks</a
      >.
    </p>
    <h2>Comments, ideas and/or suggestions</h2>
    <p>
      Any comments, ideas or suggestions you may have, don't hesitate to write
      to me at <a href="mailto:contacto@undefined.sh" target="_blank"
        >contacto(at)undefined.sh</a
      >
    </p>
  </p>
</Layout>
