---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Te damos la bienvenida"
  description="Te damos la bienvenida a Undefined Shell"
  pubDate={new Date("April 01 2024")}
>
  <p>
    Somos mucho más que un simple blog de programación y desarrollo web. Aquí,
    en <strong>Undefined Shell</strong>, nos apasiona explorar y aprender sobre el desarrollo de productos digitales.
  </p>

  <p>
    Además de proporcionar un espacio para profundizar en este fascinante campo,
    hemos organizado iniciativas como el <a
      href="https://undf.sh/acaemy"
      target="_blank">Bootcamp Full-stack de 16 semanas</a
    >, dirigido por <a href="https://glrz.me/web" target="_blank"
      >Guillermo Rodas</a
    >.
  </p>
  <p>
    Esta experiencia intensiva no solo te equipará con las habilidades
    necesarias, sino que también te conectarás con una comunidad apasionada de
    profesionales y entusiastas.
  </p>
  <p>
    ¿Quisieras unirte a este emocionante viaje? ¡Únete a nuestro <a
      href="https://undf.sh/discord"
      target="_blank">Discord</a
    > y comienza a explorar el mundo del desarrollo de software en comunidad!"
  </p>
  <h2>¿Quién es Guillermo Rodas?</h2>
  <p>
    Guillermo Rodas es un Desarrollador Full-stack de JavaScript con más de una
    decada de experiencia, originario de Colombia y residente en Suecia desde el
    2019.
    <p>
      Además, has sido organizador de la CSS Community Dev, una organización
      para diferentes comunidades de CSS en todo el mundo (Medellín, Bogotá y
      Estocolmo), así como organizador de la CSS Conf Colombia, una conferencia
      internacional de CSS.
    </p>
    <p>
      Es Google Developer Expert en Tecnologías Web, Embajador de Auth0, socio
      de Twitch en la categoría de Desarrollo de Software y Juegos, y profesor
      en Platzi y Código facilito, las plataformas de educación en línea más
      grandes de América Latina.
    </p>
    <p>
      Conoces más sobre Guillermo Rodas visitando su <a
        href="https://glrz.me/vitae"
        target="_blank">Curriculum Vitae</a
      > o <a href="https://glrz.me/links" target="_blank"
        >redes sociales</a
      >.
    </p>
  </p>
</Layout>
