---

---

<div class="container">
  <slot />
</div>
<style>
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (max-width: 980px) {
    .container {
      padding: 0 15px;
    }
  }
</style>
