---
import HeaderLink from "./HeaderLink.astro";
import Container from "./Container.astro";
import { SITE_TITLE } from "../consts";
import Button from "./Button.astro";
---

<header>
  <Container>
    <nav>
      <div class="title">
        <h2><a href="/">{SITE_TITLE}</a></h2>
        <span class="separator">•</span>
        <p>Programación y desarrollo web</p>
      </div>
      <div class="internal-links">
        <HeaderLink href="/">Inicio</HeaderLink>
        <HeaderLink href="/about">Acerca</HeaderLink>
      </div>
      <div class="buttons-container">
        <Button
          href="https://undefined.academy"
          type="primary"
          title="Undefined Academy"
        >
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          viewBox="0 0 16 16"
          aria-hidden="true"
          >
            <path
              d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8z"
            ></path>
          </svg>
        </Button>
        <Button
          href="https://undf.sh/discord"
          type="secondary"
          title="Únete a Discord"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            viewBox="0 0 16 16"
            aria-hidden="true"
          >
            <path
              d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"
            ></path>
          </svg>
        </Button>
      </div>
    </nav>
  </Container>
</header>
<style>
  header {
    margin: 0;
    width: 100%;
    position: fixed;
    padding: 0 1em;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    backdrop-filter: blur(10px);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  nav a:first-of-type {
    padding-left: 0;
  }

  nav a:last-of-type {
    padding-right: 0;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  .title {
    display: flex;
    align-items: center;
  }

  .separator {
    margin: 0 0.5em;
  }
  .social-links,
  .social-links a {
    display: flex;
  }

  .buttons-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  @media (max-width: 980px) {
    .buttons-container,
    .social-links {
      display: none;
    }
    .title span,
    .title p {
      display: none;
    }
  }
</style>
