---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Container from "../../components/Container.astro";
import SimpleAnalytics from "../../components/SimpleAnalytics.astro";
import PostList from "../../components/PostList.astro";
import { getPostsByLanguage } from "../../utils/content";
import { getMessages } from "../../i18n";

const posts = (await getPostsByLanguage("es")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const messages = getMessages("es");
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead
      title={`${messages.site.title} by ${messages.site.author}`}
      description={messages.site.description}
    />
  </head>
  <body>
    <Header locale="es" />
    <Container>
      <main>
        <section>
          <PostList posts={posts} locale="es" />
        </section>
      </main>
    </Container>
    <Footer locale="es" />
    <SimpleAnalytics />
  </body>
</html>
